[Unit]
Description=Simple service with API written in ruby
After=network.target

[Service]
Type=simple
User=vagrant
ExecStart=ruby /home/vagrant/main.rb
WorkingDirectory=/home/vagrant
Restart=always
PIDFile=/var/run/main.rb

[Install]
WantedBy=default.target

